h1{
  font-size: 30px;
  font-family: Helvetica;
  font-weight: normal;
  border: 10px solid #000000;
  background-color: #000000;
  color: #FFFFFF;
  width: 835px;
  margin: 5px;
  margin-bottom: 1px;

}

h2 {
  font-family: helvetica;
  font-size: 20px;
  text-align: left;
  border-bottom: 40px;
  margin-top: 1px;
  margin-bottom: 10px;
}


  img {
    border: 5px solid #000000;
    padding: 15px;
  }



body {
  background-image: url(a62.png);
  background-repeat:repeat;
  background-position: top left;
}

#wrapper {
  margin: 1em auto;
  width: 900px;
  border: 5px solid #000000;
  background-color: #ffffff;
  display: grid;
}

p{
  font-size: 15px;
  font-family: Georgia;
  margin: 20px;
}

nav ul {
  list-style-type: none;

}

.floatimage {
  margin: 10px;
  float: left;
}



nav li {

  color: #FFFFFF;
  background-color: #ef112d;
  padding: 10px;
  border: 1px solid #000000;
  margin: 10px;
  width: 150px;
  border-top: 300px;
  text-decoration:none;
}
 a{
   color: #ffffff;

 }

 nav li a:hover {
   background-color: #ab0b1f;
 }

 .blockimg{
   margin: 10px
 }

.borderbottom{
  border-bottom: 5px solid #000000;
}

.border{
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  padding-top: 5px;
  background-color: #ef112d;
  font-style: italic;
  font: Verdana;
  padding-bottom: 10px;
  color: #ffffff;


}


header {
  grid-column: span 12;
  margin-bottom: 10px;
}

nav {
  grid-column: span 3;
  margin-top: 1px;
}

main {
  grid-column: span 9;
    margin-bottom: 10px;
    font-style: bold:
}

footer {
  grid-column: span 12;

}


.customtext{
  font-style: bold:italic;
  font: Georgia;
}
