header {
  grid-column: span 12;
}

nav {
  grid-column: span 12;
  border-top: 4px solid #ffffff;
}

main {
  grid-column: span 12;
  padding-bottom: 200px;
}

footer {
  grid-column: span 6;
  padding-bottom: 50px;
  padding-left: 70px;
  padding-top: 20px;
  padding-right: 0px;
  border: 3px solid #ffffff;
  box-shadow: 5px 5px 5px grey;
  margin: 30px;
}


#wrapper {
  margin: 1em auto;
  padding: 0;
  width: 960px;
  border: 2px solid #ffffff;
  background-color: #b6e8a9;
  display: grid;
}

.carousel {
  color: #170724;

  --carousel-button-bg: #fff;
  --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0
          0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

  --carousel-button-svg-width: 20px;
  --carousel-button-svg-height: 20px;
  --carousel-button-svg-stroke-width: 2.5;
}

.carousel__slide {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80%;
  height: 500px;
  margin-right: 6px;

  background-color: #eee;
  border-radius: 6px;
}

#myCarousel img{
  width: 100%;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a{
  display: block;
  padding: 10px;
  margin: 10px;
  background-color: #003300;
  width: 130px;
  color: white;
text-decoration: none;
  transition: background-color 1.0s, width 2.0s, color 3.0s;
  padding-left: 30px;

}

nav a:hover {
  background-color: #00ff00;
  width: 100px;
  color: black;
}



nav li{
display: inline-block;
list-style-type: none;
text-decoration-color: #52cc33;
padding: 10px;
border: 2px solid #5f7f57;
margin: 0px;
width: 190px;
background-color: #5f7f57;
}

h1{
  padding-left: 30px;
}

h2{
  padding-left: 40px;
}

#contact{
  grid-column: span 6;
  border: 3px solid #ffffff;
  box-shadow: 5px 5px 5px grey;
  margin: 30px;
}

body {
  background-image: url(leafs.jpg);
  background-repeat:repeat;
  background-position: top left;
}



 .contact{
   padding-left: 225px;
 }
