h1{
  font-size: 30px;
  font-family:;
  font-weight: bold;
  border-bottom: 5px solid #ffffff;
  background-color: #b6e8a9;
  color: #000000;
  width: 850px;
  margin: 5px;
  margin-bottom: 1px;
  font-family: 'Playfair Display', serif;
  color: #0d470a;

}

h2 {
  font-family:;
  font-size: 20px;
  text-align: left;

  margin-top: 1px;
  margin-bottom: 10px;
  padding-bottom: 25px;
  font-family: 'Playfair Display', serif;
  color: #478f40;
}



#contact{
  color: #478f40;
}


body {
  background-image: url(leafs.jpg);
  background-repeat:repeat;
  background-position: top left;
}

#wrapper {
  margin: 1em auto;
  width: 900px;
  border: 5px solid #ffffff;
  background-color: #b6e8a9;
  display: grid;
}

p{
  font-size: 15px;
  font-family: Georgia;
  margin: 20px;
  font-family: 'Playfair Display', serif;
  color: #0d470a;
}

nav ul {
  list-style-type: none;
  padding-left: 10px;


}

.floatimage {
  margin: 10px;
  float: left;
}



nav li {

  color: #FFFFFF;
  background-color: #5f7f57;
  padding: 15px;
  border: 1px solid #000000;
  margin: 30px;
  width: 150px;
border-color: #ffffff;
  text-decoration:none;
}

nav a{
  display: block;
  padding: 5px;
  margin: 10px;
  background-color: #003300;
  width: 110px;
  color: white;
  transition: background-color 1.0s, width 2.0s, color 3.0s;
  padding-left: 15px;
  text-decoration: none;
}

nav a:hover {
  background-color: #00ff00;
  width: 100px;
  color: black;
}



 a{
   color: #ffffff;

 }

 nav li a:hover {
   background-color: #003300;
 }

 .blockimg{
   margin: 10px
 }

.borderbottom{
  border-bottom: 5px solid #000000;
}

.border{
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  padding-top: 5px;
  background-color: #52cc33;
  font-style: italic;
  font: Verdana;
  padding-bottom: 10px;
  color: #ffffff;


}


header {
  grid-column: span 12;
  margin-bottom: 10px;
}

nav {
  grid-column: span 3;
  margin-top: 1px;
}

main {
  grid-column: span 9;
    margin-bottom: 10px;
    font-style: bold:
}

footer {
  grid-column: span 12;

}


.customtext{
  font-style: bold:italic;
  font: Georgia;
}
